@import url(https://fonts.googleapis.com/css?family=VT323);


html, body {
    background-image: url("snakebackground.jpg");	
    margin: 10;
    padding: 10;
    font-family: 'VT323', monospace ;
    font-size: 24px;
    text-align: center;
}

h1 {
    color: white;
}

.grid {
    background: white;	
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 135px;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: limegreen;
    
}

.apple {
    background-color: red;
}

button {
    background: #881400;
    margin: 0;
    overflow-y: scroll;
    padding: 1ch;
    font-family: 'VT323', monospace ;
	font-size: 24px;
    text-align: center;
    color: white;
}

button:focus,
button:hover {
    background: #A81000;
}
